{
    "presets": [
        [
            "@babel/preset-env",{
                "modules": false
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-syntax-dynamic-import",
        ["import", {
            "libraryName": "iview",
            "libraryDirectory": "src/components"
        }]
    ],
    "comments": false
}