.base-loading {
    width: 100%;
    height: 100%;

    background: rgba(255, 255, 255, 0.7);


    &__content {
        position: absolute;
        z-index: 99999;
        top: 45%;
        left: 50%;

        display: flex;
        flex-direction: column;

        transform: translateX(-50%);

        color: #ff238d;

        align-items: center;

        & > svg {
            margin-bottom: 10px;
        }
    }

    .spin-icon-load {
        font-size: 14px;

        animation: ani-spin 1s linear infinite;
    }

    @keyframes ani-spin {
        from {
            transform: rotate(0deg);
        }
        50% {
            transform: rotate(180deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}
