*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    min-height: 100%;

    background-color: #fff;
}

#app {
    position: relative;

    width: 100%;
    min-height: 100%;

    &__body {
        margin: 0 auto;
    }

    &__loading {
        position: fixed;
        z-index: 2222;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
