.demo {
    font-size: 12px;
    font-size: 24px;

    display: flex;

    width: 670px;
    height: 670px;
    margin: 40px;
    margin-top: 0;
    padding: 40px;

    color: #000;
    border: 12px solid red;
    border-radius: 100px;
}
